<!DOCTYPE html>
<html>
  <head>
    <title>RailsTrackingEmployees</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Signika+Negative&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="size">

  <%= flash[:alert] %>
  <%= flash[:notice] %>

  <%= yield %>
</div>

  </body>
</html>
